asgiref==3.4.1
Django==3.2
django-filter==2.4.0
djangorestframework==3.12.4

celery==5.2.7
django-celery-beat==2.2.1
django-celery-results==2.4.0

python-jwt==3.3.2
PyMySQL==1.0.2
sqlparse==0.4.1
werkzeug==2.0.1
